.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    flex-direction: column;
}

button {
    cursor: pointer;
    padding: 10px 30px;
}